// out: style.css, compress: true
/**
 * @author edloidas
 * @link edloidas@gmail.com
 */

@import url(http://fonts.googleapis.com/css?family=Open+Sans:400italic,400&subset=latin,cyrillic);
@import url(http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css);

@bg-main: #333;
@bg-standby: @bg-main radial-gradient( #996633, #000 );

@shadow: black; // #000000

@font-color-main: whiteSmoke; // #F5F5F5
@font-color-bkp:  #111;
@font-shadow-bkp: 0px 1px 0px rgba( 204, 153, 102, 1.0 );

@font-family-main: "Open Sans", Tahoma, Geneva, sans-serif;
@font-size: 24pt;

@container-width:   1920px;
@container-height:  1200px;

@street-img-width:  2016px;  // @container-width * 1.05
@street-img-height: 1260px; // @container-height * 1.05

@couple-img-width:  600px;
@couple-img-height: 900px;

@z-index-street:  1;
@z-index-couple:  @z-index-street + 1;
@z-index-congrat: @z-index-couple + 1;
@z-index-play:    @z-index-congrat + 1;
@z-index-standby: @z-index-play + 1;

.noselect() {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.image-placement(@width, @height) {
    position: absolute;
    bottom: 0;
    left: 50%;
    width: @width;
    height: @height;
    margin-left: -@width / 2;
}

/*
---------------------------------------
ANIMATION
---------------------------------------
*/

.dotsDelayAndPadding(@index) {
    padding-left: -5px + @index * 10px;
    -webkit-animation-delay: @index * 0.1s;
    animation-delay: @index * 0.1s;
}
.dotKeyframes() {
    0% { opacity: 0; }
   50% { opacity: 0; }
  100% { opacity: 1; }
}

@-webkit-keyframes dot { .dotKeyframes(); }
        @keyframes dot { .dotKeyframes(); }



/*
---------------------------------------
DEFAULT
---------------------------------------
*/
html, body, #pleaseStandBy {
    position: absolute;
    height: 100%;
    width: 100%;
    overflow: hidden;
}

body {
    margin: 0;
    background: @bg-main;
    font-family: @font-family-main;
    font-size: @font-size;
    overflow: hidden;
    .noselect();
}

#pleaseStandBy {
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;

    background: @bg-standby;
    z-index: @z-index-standby;

    h2, p {
        margin: 0;
        text-align: center;
        color: @font-color-bkp;
        text-shadow: @font-shadow-bkp;
        cursor: default;
    }

    h2 {
        text-transform: uppercase;
    }

    p {
        text-transform: lowercase;

        .dot {
            position: absolute;
            opacity: 0;
            -webkit-animation: dot 1.3s infinite;
            -webkit-animation-delay: 0.3s;
             animation: dot 1.3s infinite;
        }

        .one {
            .dotsDelayAndPadding(1);
        }

        .two {
            .dotsDelayAndPadding(2);
        }

        .three {
            .dotsDelayAndPadding(3);
        }
    }
}

.container {
    position: absolute;
    left: 50%;
    top: 50%;
    width: @container-width;
    height: @container-height;
    margin: -@container-height/2 0 0 -@container-width/2;
    box-shadow: 0 0 30px @shadow, 0 0 10px @shadow;
    overflow: hidden;
}

#street {
    .image-placement(@street-img-width, @street-img-height);
    z-index: @z-index-street;
}

#couple {
    .image-placement(@couple-img-width, @couple-img-height);
    z-index: @z-index-couple;
}

#song {
    display: none;
}

#tooglePlay {
    position: fixed;

    top: @font-size / 2;
    right: @font-size / 2;

    width: @font-size * 2;
    height: @font-size * 2;
    font-size: @font-size;

    background: rgba( 255, 255, 255, 0.75 );

    border-radius: @font-size;

    border: none;
    outline: none;

    cursor: pointer;

    opacity: 0.5;

    z-index: @z-index-play;

    &:hover, &:active {
        opacity: 1.0;
    }

    .fa-play {
        display: none;
    }

    &.paused {
        .fa-play {
            display: initial;
            margin-right: -5px;
        }
        .fa-pause {
            display: none;
        }
    }
}

#congratulations {
    position: absolute;
    width: 100%;
    color: @font-color-main;
    font-style: italic;
    text-align: center;
    text-shadow: 0px 0px 5px @shadow, 0px 0px 2px @shadow;
    opacity: 0.9;
    z-index: @z-index-congrat;
    cursor: default;
}
